/* ---------Шрифыт----------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
/* -------------------------------- */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Стили поумолчанию для всех элементов */
body {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1;
  overflow-x: hidden;
  background-color: #fff;
}

/* Поведение вхех картинок поумолчанию */
img {
  max-width: 100%;
  height: auto;
}

/* Стили ссылок поумолчанию */
a {
  text-decoration: none;
}

a:hover {
  transition-duration: 0.3s;
}

/* Убрать обводку поумолчанию у кнопок, font: inherit - позволит наследовать стили родителя (у кнопки сили шрифтов заданы поумолчанию) */
button {
  border: none;
  outline: none;
  font: inherit;
}

button,
input[type="submit"] {
  cursor: pointer;
}

main {
  margin-bottom: 50px;
}

section {
  margin-bottom: 50px;
}

/* Обёртка всего - идёт после body */
.wrapper {
  position: relative;
}

/* Класс который устанавливет рабочую область для контента */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

/* Медиа запрос - на этом разрешении экрана изменятся отступы по краям */
@media (max-width: 1110px) {
  .container {
    padding: 0 15px;
  }
}