.slider {
  .swiper-container {
    max-width: 770px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;

    .swiper-wrapper {
      display: flex;
      position: relative;
      z-index: 1;
      transition-property: transform;

      .swiper-slide {
        flex-shrink: 0;
        max-width: 200px;
        height: 130px;
        position: relative;
        transition-property: transform;
      }
    }
    .swiper-pagination {
      bottom: 100px;
      .swiper-pagination-bullet {
        background: white;
      }
    }
  }
}
